<h1>This is App </h1>
<form #userForm="ngForm" (ngSubmit)="getFormData(userForm.value)">
    <input type="text" ngModel name="name" placeholder="Enter Name">
    <br><br>
    <input type="text" ngModel name="emmail" placeholder="Enter Email">
    <br><br>
    <input type="text" ngModel name="password" placeholder="Enter password">
    <br><br>
    <button>Addd New    </button>
</form>

<app-footer></app-footer>

<a routerLink="home">Home</a> <br>
<a routerLink="header">Header</a> <br>

<br><br>
<a routerLink="home/1">Home1</a> <br>
<a routerLink="home/2">Home2</a> <br>
<a routerLink="home/3">Home3</a> <br>

<app-footer></app-footer>

<router-outlet></router-outlet>